body {
	font-family: Verdana;
	font-size: 10pt;
	padding: 0;
	margin: 15px;
}
canvas {
	border: 1px solid #000;
	background-color: #FFF;
	float: left;
}
div.my-legend {
	margin-right: 15px;
	float: left;
	width: 175px;
}
input.input-number {
	width: 30px;
}
fieldset {
	padding: 10px;
}
button {
	width: 145px;
}
label.small {
	width: 100px;
	float: left;
}
label.smaller {
	width: 80px;
	float: left;
}